.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 795px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 24px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  width: 480px;
  margin: 81px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 31px auto 0;
  padding: 10px 93px 10px 92px;
}

.u-section-1 .u-image-1 {
  width: 401px;
  height: 401px;
  margin: 45px auto;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}